body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
  }

.header_section {
      display: flex;
      justify-content: center;
  }

.logo {
    width: 400px;
    margin: 20px;
  }

/* style filter */

.main_section {
    display: flex;
    justify-content: center;
}

.searchbar {
    display: flex;
    height: 50px;
    width: 90%;
    margin: 20px;
    background: #E7E7E7;
    border: #E7E7E7;
    border-radius: 5px;
    padding: 0 0 0 20px;
    position: absolute;
}

.fa-search {
    position: relative;
    color: black;
    font-size: 22px;
    margin: 35px 10px 0 10px;
    z-index: 1;
    right: -40%;
}

.filter_section {
  display: flex;
  flex-direction: row;
  margin: 20px 10px 10px 45px;
}

.filter {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 22px;
  font-weight: bold;
  border-radius: 5px;
  height: 50px;
  max-width: 200px;
  padding: 20px 20px 10px 20px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  padding: 0 20px;
  cursor: pointer;
  position: relative;
}

.filter label {
 cursor: pointer;
}

.filter_select_choice {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  font-weight: bold;
  background: #4980EE;
  color: white;
  border-radius: 10px ;
  text-align: center;
  justify-content: center;
  z-index: 1;
  top: 50px;
  left: 0;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 10px;
  max-height: 300px;
  overflow: scroll;
}

.filter.opened .filter_select_choice {
  display: grid;
}

.filter_select_choice span {
  display: block;
  width: max-content;
}

.components, .components .filter_select_choice {
  background: #4980EE;
}

.tools, .tools .filter_select_choice {
  background: #86D6A8;
}

.sets, .sets .filter_select_choice {
  background: #DD6D5B;
}

.filter__arrow {
color: white;
}

.filter__select__option {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  font-weight: bold;
  background: #4980EE;
  color: white;
  border-radius: 10px ;
  text-align: center;
  justify-content: center;
  z-index: 1;
  width: 224px;
  top: -28px;
}

.select__option {
  display: flex;
  font-size: 22px;
  margin: 0 20px;
  align-items: center;
  border-top-width: 200px;
  border-top-color: white;
  height: 56px;
  cursor: pointer;
}

.selected__option {
  display: flex;
  justify-content: space-between;
}

.selected__option label {
  cursor: pointer;
}

.select__option:not(:last-child) {
  border-bottom: 1px solid white;
}

.arrow {
  position: relative;
  height: 16px;
  width: 16px;
}

/* style cards */

.card {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-card {
  display: block;
  margin: 20px;
}

.recipe_image {
background: #C5BEBE;
width: 400px;
height: 180px;
border-radius: 5px 5px 0 0;
}

.info_recipe {
  background: #E7E7E7;
  width: 400px;
  height: 200px;
  border-radius: 0 0 5px 5px;
  }

.info_title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.info_time {
  display: flex;
  justify-content: space-between;
  width: 90px;
}

.recipe_name {
  font-size: 18px;
}

.recipe_time-icon {
 font-size: 20px;
}

.recipe_time {
  font-size: 18px;
  font-weight: 900;
}

.info_instruction {
  display: flex;
  padding: 10px;
  justify-content: space-between;

}

.info_ingredient {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  flex-wrap: wrap;
  font-size: 12px;
}

.recipe_ingredient-line {
  font-size: 12px;
}

.recipe_ingredient-name {
 font-weight: bold;
}

.recipe_description {
  font-size: 12px;
  text-align: justify;
  margin: 0 10px 10px 10px;
  width: 180px;
  height: 100%;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;

}
