body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
  }

  main {
    max-width: 1420px;
    margin: 0 auto;
  }

.header_section {
      display: flex;
      justify-content: center;
  }

.logo {
    width: 400px;
    margin: 20px;
  }

/* style filter */

.filter_section {
    display: flex;
    justify-content: center;
}

.search_section {
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  width: 80%;
}

.searchbar {
    height: 50px;
    width: 100%;
    background: #E7E7E7;
    border: #E7E7E7;
    border-radius: 5px;
    padding: 0 0 0 20px;
}

.fa-search {
    position: absolute;
    color: black;
    font-size: 22px;
    z-index: 1;
    top: 50%;
    right: 20px;
    transform: translate(-50%, -50%);
}

.main_section {
  display: flex;
  flex-direction: column;
  padding: 45px;
}

.filter {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 22px;
  font-weight: bold;
  border-radius: 5px;
  height: 70px;
  /* max-width: 200px; */
  margin:20px 0 10px  0;
  justify-content:left;
  align-items: left;
  object-fit: cover;
  cursor: pointer;
  position: relative;
}

.filter input {
  width: 580px;
}

.filter label {
 cursor: pointer;
 margin: 0 60px 0 20px;
}

.filter_select_choice {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  font-weight: bold;
  color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  justify-content: center;
  z-index: 1;
  top: 70px;
  left: 0;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 10px;
  max-height: 300px;
  overflow: scroll;
}

.filter-search, .filter-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.filter-search {
  display: none;
  padding: 0 0 0 10px;
}

.filter_unit {
  width:520px;
  wrap:nowrap;

}

.filter-search input {
  display: flex;
  height: 50px;
  background: #E7E7E7;
  border: #E7E7E7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0 0 0 0px;
  color: white;
  font-size: 22px;
}

.filter-search .fas, .filter-label .fas {
  position: absolute;
  right: 20px;
}

.filter-search input::placeholder {
  color: white;
}

.filter.opened .filter_select_choice {
  display: grid;
  border-radius: 0 0 10px 10px;
}

.filter.opened {
  border-radius: 10px 10px 0 0;
}

input:focus { 
  outline-style: none;
  box-shadow: none;
  border-color: transparent; }

.filter_select_choice span {
  display: block;
  text-align: left;
}

.components, .components .filter_select_choice, .components input {
  background: #4980EE;
}

.tools, .tools .filter_select_choice, .tools input {
  background: #86D6A8;
}

.sets, .sets .filter_select_choice, .sets input {
  background: #DD6D5B;
}

.filter__arrow {
color: white;
}

.filter__select__option {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  font-weight: bold;
  background: #4980EE;
  color: white;
  border-radius: 10px ;
  text-align: center;
  justify-content: center;
  z-index: 1;
  width: 224px;
  top: -28px;
}

.select__option {
  display: flex;
  font-size: 22px;
  margin: 0 20px;
  align-items: center;
  border-top-width: 200px;
  border-top-color: white;
  height: 56px;
  cursor: pointer;
}

.selected__option {
  display: flex;
  justify-content: space-between;
}

.selected__option label {
  cursor: pointer;
}

.select__option:not(:last-child) {
  border-bottom: 1px solid white;
}

.arrow {
  position: relative;
  height: 16px;
  width: 16px;
}

/* style cards */

.card {
  display: flex;
  margin: 10px 45px 10px 45px;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
}

.recipe_image {
background: #C5BEBE;
width: 400px;
height: 180px;
border-radius: 5px 5px 0 0;
}

.info_recipe {
  background: #E7E7E7;
  width: 400px;
  height: 200px;
  border-radius: 0 0 5px 5px;
  }

.info_title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.info_time {
  display: flex;
  justify-content: space-between;
  width: 90px;
}

.recipe_name {
  font-size: 18px;
}

.recipe_time-icon {
 font-size: 20px;
}

.recipe_time {
  font-size: 18px;
  font-weight: 900;
}

.info_instruction {
  display: flex;
  padding: 10px;
  justify-content: space-between;

}

.info_ingredient {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  flex-wrap: wrap;
  font-size: 12px;
}

.recipe_ingredient-line {
  font-size: 12px;
}

.recipe_ingredient-name {
 font-weight: bold;
}

.recipe_description {
  font-size: 12px;
  text-align: justify;
  margin: 0 10px 10px 10px;
  width: 180px;
  height: 100%;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;

}

.filter_card {
  display: flex;
  gap: 20px;
  flex-direction: row;
  max-width: 600px;
  justify-content: space-between;
}

.tag {
  display: flex;
  flex-direction: row;
  margin:20px 0 0 0;
}

.tagsection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 35px;
  border-radius: 5px;
  margin: 5px 10px 5px 0;
  font-size: 20px;
}

.tagsection-component {
  background:#4980EE;
}

.tagsection-tool {
  background:#86D6A8;
}

.tagsection-set {
  background: #DD6D5B;

}

.tagname {
  color: white;
  margin: 6px;
  padding: 0 10px 0 0;
}

.icon {
  color: white;
  margin: 6px;

}




